{% extends 'base.html' %}

{% block content %}

<h1>Add Mario Character</h1>
<div id="grid-container"></div>


    <h2>Enter Your Name</h2>
    <form action="" method="POST">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" required maxlength="50" placeholder="Character name">
        <input type="text" name="date_created" required maxlength="10" placeholder="Date created">
        <button type="submit" class="close button">Add Character</button>
    </form>


{% endblock %}
